


 <div class="container">
        <header>
            <h1>{{title}}</h1>
        </header>
     <div class="informacion">
       <p>  La discriminación es una práctica cotidiana que consiste en dar un trato desfavorable o de desprecio inmerecido a determinada persona o grupo, que a veces no percibimos, pero que en algún momento la hemos causado o recibido.
 
        Hay grupos humanos que son víctimas de la discriminación todos los días por alguna de sus características físicas o su forma de vida. 
        El origen étnico o nacional, el sexo, la edad, la discapacidad, la condición social o económica, la condición de salud, el embarazo, la lengua, la religión, las opiniones, las preferencias sexuales,
         el estado civil y otras diferencias pueden ser motivo de distinción, exclusión o restricción de derechos.
        </p>
        <div class="img">
        <img src="/public/img/1.jpg" >
    </div>
     </div>
     <div class="informacion lista">
         <div class="">

             <h4>Ejemplos claros de conductas discriminatorias son:</h4>
             <ol>
                 <li> Impedir el acceso a la educación pública o privada por tener una discapacidad, otra nacionalidad o credo religioso.</li>
                 <li>Prohibir la libre elección de empleo o restringir las oportunidades de acceso, permanencia y ascenso en el mismo, por ejemplo a consecuencia de la corta o avanzada edad.
                </li>
                <li>Establecer diferencias en los salarios, las prestaciones y las condiciones laborales para trabajos iguales, como puede ocurrir con las mujeres.</li>
                <li>Negar o limitar información sobre derechos reproductivos o impedir la libre determinación del número y espaciamiento de los hijos e hijas.</li>
                <li>Negar o condicionar los servicios de atención médica o impedir la participación en las decisiones sobre su tratamiento médico o terapéutico dentro de sus posibilidades y medios.</li>
            </ol>
        </div>
            <div class="imagen">

                <img src="/public/img/3.jpeg" >
            </div>
        </div>
     </div>
     <div class="informacion">
        <div>
            <h3>¿Qué tipo de discriminación encontramos en México?</h3>
            
            <p>
            Según El economista indica que  Al menos 5 de cada 10 personas en México afirman ser discriminadas por su apariencia física y se registran altos niveles de discriminación por género, por situación económica, creencia religiosa, orientación sexual y un infinito etcétera, de acuerdo con información de la Encuesta Nacional de Discriminación realizada por el Inegi, el Conapred, el Conacyt y la UNAM, en México.
        </p>

        <p>
            Además, persiste un grado mayor de discriminación en México, que se conceptualiza discriminación estructural, la cual ocurre cuando una persona presenta rasgos de más de un grupo vulnerable simultáneamente, como podría ser una mujer indígena, un transexual y de piel morena o un adulto mayor transgénero.
        </p>    
        <div class="lista">
            <ul>
                <li> 7 de cada 10 mexicanos de tez morena afirma ocupar los puestos más bajos en su lugar de trabajo.</li>
                <li> 9 de cada 10 trabajadoras domésticas no tienen prestaciones laborales.</li>
                <li>9 de cada 10 trabajadoras domésticas no tienen prestaciones laborales.</li>
                <li>2 de cada 10 mujeres en México aseguran que recibieron menos paga que su equivalente hombre por realizar el mismo trabajo.</li>
                <li>5 de cada 10 discapacitados dijo que sus derechos importan poco o nada a la sociedad</li>
                <li> de cada 10 hombres en el país aseguraron que no rentarían su vivienda a una persona indígena.</li>
               <li>2 de cada 10 hombres asegura que algunas mujeres son violadas porque ellas lo provocan.</li>
               <li>4 de cada 10 hombres asegura que estar cerca de una persona con VIH es un riesgo.</li>
               <li>7 de cada 10 mexicanos morenos no tiene estudios superiores.</li>
                <li>7 de cada 10 habitantes en México asegura que los homosexuales y los trans son los menos respetados por la sociedad.</li>
            </ul>
        </div>
        </div>
        <div class="informacion">
            <h3>¿Dónde denunciar casos de discriminación? </h3>
            <p>
                La CONAPRED (Consejo Nacional Para Prevenir la Discriminación) es el encargado de  gestionar casos de discriminación en México 
            </p>
            <img src="/public/img/logo_conapred.jpg" width="250px">
            <br>
            <strong>Números de atención</strong>
            <p>52-62-14-90 Extensión 5803</p>
            Con horario de atención:
 <br>
 <p>
     De Lunes a Jueves de 9:00 a 14:30 hrs. y de 15:30 a 18:00 hrs
     y Viernes de 9:00 a 15:00 hrs
    </p>
        </div>

     </div>