body{
  padding: 10px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
p{
text-align: justify;
}
.informacion{
  padding: 2%;
  border-color: #0a0a0a ;
  border: 5px solid #f7f5f5 ;
  border-radius: 20px;
  float: left;
  align-content: center;
  justify-content:center;
  background-color:  #3caedb ;
  height: 100%;
  width: 95%;

}
h1{
  text-align: center;
  color: #2920a7 ;
}

.informacion img{
  float: left;
  border-radius:20px;
  width: 250px;

}
